.sidebar{
    background-image: url("./../Image/intro-connection-light.jpg");
    width: 400px;
    height: 750px;
}
.first-row{
width: 400px;
background-color: grey;
height: 80px;
}
.myImg{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 336px;
    margin-top: 15px;
}

#myInput {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid #ddd;
  }
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
  .alert{
  width: 456px;
  height: 120px;
  right: 10%;
  }
  