
.form-control {
    width: 50%;
    background-color:gainsboro;
    text-align:center;
    align-self:center;
}
.form-floating {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 25% 0;

}
.login {
    padding: 20px;
    background-color: white;
    margin: 40px;
    margin-left: 25%;
    margin-right: 25%;
    height: 400px;
    border: 3px solid lightgray;
    position: relative;
    border-radius: 20px;
}

.error{
    color: red;
    align-content:center;
    text-align:center;
}
.btn {
    width: 40%;
    margin: 0 30% 0;
    max-height: 20%;
    height: 40px;
}
h3 {
    text-align:center;
}
.main {
    justify-content: center;
    align-items: center;
    margin: 2% 25% 0;
    height: 400px;
    transform-box:border-box;
    border: 1px solid lightgray;
}